$body-font-family: 'Rubik', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !important;
$border-radius-root: 12px !default;
$line-height-root: 1.75;
$material-dark: (
  'background': linear-gradient(90deg, rgba(16,12,18,1) 0%, rgba(55,29,68,1) 100%)
);

.icon {
  width: 10px;
  height: auto;
}

.img {
  border-radius: 12px;
}