$body-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !important;
$border-radius-root: 10px !default;
$line-height-root: 1.75;
$material-dark: (
  'background': linear-gradient(90deg, rgba(16,12,18,1) 0%, rgba(55,29,68,1) 100%)
);

.icon {
  width: 10px;
  height: auto;
}

.v-card__text, .v-card__title {
  word-break: normal !important; /* maybe !important  */
  text-align: left !important;
}

.img {
  border-radius: 10px;
}

@media only screen and (max-width: 600px) {
  .action-button {
    float: left !important;
  }
}